@charset "UTF-8";
.password_confirm{
	left:40%;
	top:40%;
	margin:auto;
	border:solid thin;
	width:300px;
	height:200px;
	border-radius: 1rem;
}

.confirm{
	text-align: center;
}

.password{
	
	align-content: center;
	display: inline-block;
	
}

.input_frame{
	
	justify-content: center;
	display: flex; 
}



.mypage_title{
	position:relative;
	margin-left:300px;
	
}

.btn{
	margin-top:15px;
	justify-content: center;
	display: flex; 
}