	@charset "UTF-8";


.plus { 
	
	margin-left:290px;
	margin-right:10px;
	margin-bottom:10px;
	width:60px;
	height:30px;
	float:left;
	clear:both;
	background-color:yellow;
	border-radius:8px;
	border-style:solid;
	border-width:thin;
}

.plustext {
		width:5%;
		height:30px;
		float:left;
		
}

.imagebox {
	clear:both;
	font-size:15px;
	border:3px solid black;
	padding:100px 200px;
	text-align:center;
	width:10%;
	margin:auto;
	
}

.introduce {
	font-size:20px; 
	border:3px solid black;
	margin-top:10px;
	padding:100px; 
	width:40%;
	margin:auto;
	}
	
.inputbox {
	font-size:15px;
	width:400px;
	height:200px;
	resize:none;
	border:2px solid black;
}

.drawing {
	width:400px;
	height:300px;
}

.save_btn {
	font-size:20px;
	width:8%;
	color:black;
	border-radius: 12px;
	margin:10px;
}

.registration {
	font-size:20px;
	width:8%;
	color:white;
	background-color:deepskyblue;
	border-radius: 12px;
}

.cancel {
	font-size:20px; 
	width:8%;
	color:white; 
	background-color:dimgrey;  
	border-radius: 12px;
	margin:10px;
}

.preview {
	font-size:20px; 
	width:8%;
	border-radius:12px;
}

.table {
	font-size:15px; 
    width: 100%;
    text-align:center;
    border-collapse: collapse;
    border: 1px solid #444444;
    arrang : center;
    margin-left:auto;
	margin-right:auto;
	
  }
  
.img {
	margin-left:290px; margin-bottom:10px;
}
.btnfunc {
	text-align:center;
}

.btn {
	text-align:center;
}

#my-input{
            visibility: hidden;
        }

.title1 {
	margin-left:380px;
}

.table_1 {
	width:500px;
	height:250px;
	
}
