<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharehouse.dao.AdminDao">


	<update id="stopUser">
		update user set status='ROLE_STOP' where id in
		<foreach item="id" index="index" collection="array"
			open="(" separator="," close=")">
			#{id}
			</foreach>
	</update>
	
	<delete id="delCheck">
	delete from user where id in 
	<foreach item="id" index="index" collection="array"
      open="(" separator="," close=")">
        #{id} 
  	</foreach>
	</delete>
	
	
	
	
	<update id="release">
		update user set status='ROLE_MEMBER' where id in
		<foreach item="id" index="index" collection="array"
			open="(" separator="," close=")">
			#{id}
			</foreach>
	</update>
	
	<select id="search" parameterType="map" resultType="com.sharehouse.dto.UsersDto">
		select id from user like concat('%' , #{search}, '%') limit #{start} , #{count}
	</select>
</mapper>