<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharehouse.dao.AdminDao">


	<select id="count" resultType="int">
		select count(*) from comm inner join offering
	</select>
	
	<select id="commviewlist" parameterType="map" resultType="com.sharehouse.dto.AdminDto">
		select comm_no, id, comm_title, comm_v_cnt from comm order by comm_no desc
		limit #{start} , #{count} 
	</select>
	
	<select id="boardviewlist" parameterType="map" resultType="com.sharehouse.dto.AdminDto">
		select board_no, id, title, v_cnt from offering order by board_no desc
		limit #{start} , #{count} 
	</select>
</mapper>