<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharehouse.dao.AllBoardViewDao">

	<select id="viewpost" resultType="com.sharehouse.dto.AllBoardViewDto">
		select Id, Comm_no, Comm_title, Comm_v_cnt from comm
	</select>
	

</mapper>