<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharehouse.dao.QueryDao">

	<insert id="insert" parameterType="com.sharehouse.dto.QueryDto">
		insert into user_query_list (id, query_title, query_state, query, query_date, category)
		values(#{id}, #{query_title}, "대기", #{query}, now(), #{category})
	</insert>
	
	<update id="updatePost" parameterType="com.sharehouse.dto.QueryDto">
		update user_query_list set query_title=#{query_title} , query=#{query}
		where query_no=#{query_no}
	</update>
	

	<delete id="deletePost" parameterType="int">
		delete from user_query_list where query_no = #{query_no}
	</delete>
	
	<select id="count" resultType="int">
		select count(*) from user_query_list
	</select>
	
	<select id="count2" parameterType="String" resultType="int">
		select count(*) from user_query_list where id = #{id}
	</select>
	
	<select id="queryOne" parameterType="int" resultType="com.sharehouse.dto.QueryDto">
		select * from user_query_list where query_no = #{query_no}
	</select>
	
	<select id="queryList" parameterType="map" resultType="com.sharehouse.dto.QueryDto">
		select * from user_query_list 
		order by query_date desc limit #{start} , #{count}	
			<!-- start와 count는 dto에 없음. -> map을 사용. -->
	</select>
	
	<select id="queryList2" parameterType="map" resultType="com.sharehouse.dto.QueryDto">
		select * from user_query_list where id = #{id}
		order by query_date desc limit #{start} , #{count}	
			<!-- start와 count는 dto에 없음. -> map을 사용. -->
	</select>
	
	<select id="queryListSearch" parameterType="map" resultType="com.sharehouse.dto.QueryDto">
		select * from user_query_list where query_title like concat('%',#{search},'%') order by query_date desc limit #{start}, #{count}
	</select>
	
	<select id="countSearch" resultType="int" parameterType="map">
		select count(*) from user_query_list where query_title like concat('%',#{search},'%') 
	</select>
	
	<select id="querySort" parameterType="map" resultType="com.sharehouse.dto.QueryDto">
		select * from user_query_list
		<choose>
		<when test="sort==recent"> order by query_date desc limit #{start}, #{count} </when>
		</choose>
	</select>
	
	<delete id="delChecked">
	delete from user_query_list where query_no in 
	<foreach item="no" index="index" collection="array"
      open="(" separator="," close=")">
        #{no} 
  	</foreach>
	</delete>
	
	<insert id="insertAnswer" parameterType="com.sharehouse.dto.QueryDto">
	update user_query_list set query_state = "답변완료", answer = #{answer}
	where query_no=#{query_no}
	</insert>
</mapper>