<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharehouse.dao.RegistrationDao">

	<insert id="insert" parameterType="com.sharehouse.dto.RegistrationDto" >
		insert into room_info_1(board_no, room_name, img_loc) values
		(#{board_no}, #{room_name}, #{img_loc})
	</insert> 
	
	<update id="update" parameterType="com.sharehouse.dto.RegistrationDto">
		update offering set thumbnail = #{thumbnail}, offering_info = #{offering_info} where board_no = #{board_no}
	</update>

	<insert id="insert2" parameterType="com.sharehouse.dto.RegistrationDto">
		insert into room_info(board_no, room_name, deposit, rental, square, mem_cnt, img_loc, term) 
		values (#{board_no}, #{room_name}, #{deposit}, #{rental}, #{square}, #{mem_cnt}, #{img_loc}, #{term})
	</insert>
	
	
	
		
	
	
</mapper>