<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharehouse.dao.ReportDao">

<delete id="delChecked">
	delete from user_report_board where report_no in 
	<foreach item="no" index="index" collection="array"
      open="(" separator="," close=")">
        #{no} 
  	</foreach>
	</delete>
</mapper>